<link rel="stylesheet" type="text/css" crossorigin="anonymous" href="http://meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/Kakao.css"/> 
<html>
<head>
    <title>미세먼지 예측 사이트</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
            function Move(loc){
                var offset = $("#"+loc).offset();
                $('html, body').animate({scrollTop : offset.top}, 400);
            }
    </script>

    <style>
#chat_frame{
	width: 380px;
	padding: 10px 50px 10px 10px;
	background-color:#a1c0d6;
}
#chat_frame > ul{
	position: relative;
	width: 350px;
	z-index: 0;
}
#chat_frame > ul > li > span {
	font-family:'Kakao';
}

ul.from_me {
	text-align: right;
}
ul.from_me > li {
    display: inline-block;
	text-align: left;
    position: relative;
    background: #FCCE00;
	word-wrap: break-word;
	max-width: 240px;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 30px;
    border-radius: 10px;
}
ul.from_me > li:after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    z-index: -1;
    background: #a1c0d6;
    bottom: -10px;
    right: -13px;
}
ul.from_me > li:before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    z-index: -1;
    background: #FCCE00;
    bottom: -6px;
    right: -4px;
}

ul.from_me > li > span.nm {
	position: absolute;
	right:0px;
	top:-20px;
}

ul.from_me > li > span.tm {
	position: absolute;
	font-size: 14px;
	left:-55px;
	bottom:0px;
}
ul.from_you > li {
    display: inline-block;
    position: relative;
    
	background: #FFFFFD;
	
	word-wrap: break-word;
	max-width: 240px;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 30px;
    border-radius: 10px;
}
ul.from_you > li:after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    z-index: -1;
    background: #a1c0d6;
    bottom: -10px;
    left: -13px;
}
ul.from_you > li:before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    z-index: -1;
    background: #FFFFFD;
    bottom: -6px;
    left: -4px;
}
ul.from_you {
	text-align: left;
}

ul.from_you > li > span.nm {
	position: absolute;
	left:0px;
	top:-20px;
}

ul.from_you > li > span.tm {
	position: absolute;
	font-size: 14px;
	right:-55px;
	bottom:0px;
}
</style>
</head>
<body>
    <a href="/main"><img src="public/images/log.png" width="100" height="100"></a><p>
    <button onclick="Move('map')" >오늘의 미세먼지</button>
    <button onclick="Move('prediction')" >연간 예측</button>
    <button onclick="Move('chat_frame')" >미세먼지 챗봇</button>

    <div id="map">
        <h1>미세먼지 지도<p>
        <img src="public/images/korea_map.jpg" width="400" height="800"></a><p>
        
    </div>

    <div id="prediction">
        <h1>미세먼지 예측<p>
        <img src="public/images/ex_barplot.png" width="800" height="500"></a><p>
    </div>
    <h1>챗봇</h1><p>
    <form>
        <div id="chat_frame">
            
            <ul class="from_you">
                <li>
                    <span class="nm">김사원</span>
                    <span class="co">ㅎㅇ</span>
                    <span class="tm">1:30pm</span>
                </li>
                <br>
                <li>
                    <span class="nm">김사원</span>
                    <span class="co">하요22222222222222222222222222222222222222222222222222222222222222</span>
                    <span class="tm">1:31pm</span>
                </li>
                <br>
                <li>
                    <span class="nm">김사원</span>
                    <span class="co">ㅂㅇ</span>
                    <span class="tm">1:32pm</span>
                </li>
                <br>
                <li>
                    <span class="nm">김사원</span>
                    <span class="co">빠이루</span>
                    <span class="tm">1:33pm</span>
                </li>
            </ul>
            <ul class="from_me">
                <li>
                    <span class="nm">양사원</span>
                    <span class="co">ㅎㅇ</span>
                    <span class="tm">1:30pm</span>
                </li>
                <br>
                <li>
                    <span class="nm">양사원</span>
                    <span class="co">하요33333333333333333333333333333333333333333</span>
                    <span class="tm">1:31pm</span>
                </li>
                <br>
                <li>
                    <span class="nm">양사원</span>
                    <span class="co">ㅂㅇ</span>
                    <span class="tm">1:32pm</span>
                </li>
                <br>
                <li>
                    <span class="nm">양사원</span>
                    <span class="co">빠이루</span>
                    <span class="tm">1:33pm</span>
                </li>
            </ul>
        </div>
        <div id="chat_input" width="380px">
            <input type="text" >
            <input type="submit" value="전송">

        </div>
    </form>

</body>
</html>