<link rel="stylesheet" type="text/css" crossorigin="anonymous" href="http://meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/Kakao.css"/> 
<html>
<head>
    <title>미세먼지 예측 사이트</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="common/jquery-3.3.1.min.js"></script>

    <script>
            function Move(loc){
                var offset = $("#"+loc).offset();
                $('html, body').animate({scrollTop : offset.top}, 400);
            }
    </script>

</head>
<body>
    <a href="/main"><img src="public/images/log.png" width="100" height="100"></a><p>
    <button onclick="Move('map')" >오늘의 미세먼지</button>
    <button onclick="Move('prediction')" >연간 예측</button>
    <button onclick="Move('chat_frame')" >미세먼지 챗봇</button>
    
    <h1 id="map">미세먼지 지도</h1><p>
    <div >

        <img src="public/images/korea_map.jpg" width="400" height="800"></a><p>
        
    </div>

    <h1 id="prediction">미세먼지 예측</h1><p>
    <div >
        <img src="public/images/ex_barplot.png" width="800" height="500"></a><p>
    </div>

    <h1 id="chat_frame">챗봇</h1><p>
        <div >    
            <iframe
                allow="microphone;"
                width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/faf6a2c8-034e-4ec6-bc6d-7faed61f0ce7">
            </iframe>
        </div>
        
</body>
</html>