<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Charts</title>

    <!-- Bootstrap core CSS-->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../public/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">
	<!-- header-->
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="navbar-brand mr-1" href="/index">A Circulating environment </a>
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>fine dust</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chatbot">
            <i class="fas fa-fw fa-table"></i>
            <span>UnneeYa</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/predust">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Pre-dust</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Pre-dust line Chart</div>
            <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
              <img src="../public/images/predust.png" width="700" height="500">
            </div>
          </div>


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span><BR>
			        <span> RedHatPinkCodingFest TEAM2 </span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
  </body>

</html>
